<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7 has-navbar-fixed-top" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8 has-navbar-fixed-top" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9 has-navbar-fixed-top" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js has-navbar-fixed-top" {{ site.language_attributes }}>
    <!--<![endif]-->
    <html class="has-navbar-fixed-top">
        <head>
            <meta charset="{{ site.charset }}"/>
            <title>
                {% if wp_title %}
                    {{ site.name }}
                    -
                    {{ wp_title }}
                {% else %}
                    {{ site.name }}
                {% endif %}
            </title>
            <meta name="description" content="{{ site.description }}">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
            <link rel="pingback" href="{{ site.pingback_url }}"/>
            {{ wp_head }}
        </head>
        <body class="{{ body_class }}">
            {% include 'templates/regions/header.twig' %}
            <div id="main">
                {% block content %}
                    <!-- The template’s main content will go here. -->
                {% endblock %}
            </div>
            {{ wp_footer }}
        </body>
    </html>
